* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}


/* HEADER */

header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
    background: white;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__img {
    height: 47px;
    width: 47px;
}


/*FOOTER*/

.footer_img {
    height: 28px;
    width: 28px;
}